/*comentario

etiqueta, propiedad , valor*/


    


h1{
    
    text-align: center;
    
  
}


   
   

.navbar {
  flex-wrap: nowrap;
    
    background-color: rgb(237, 237, 237);
    
}

.navbar-toggler{
    
   
    display: flex;
    background-color: white;

    
}

.nav-buenas{
    text-decoration: none;
    display: flex;
    padding-left: 1rem ;
    font-size: larger;
    color: black;
    
    
}

footer{
    background-color: black;
    padding: 2%;
   
    }
footer a{
    align-items: center;
    align-content: space-around;
    
    padding-left: 5rem;
   width: 5%;
}


.h1nosotros{
   background-color: black;
    color: white;
    font-size: xx-large;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}

.cardbuenas{
    margin-left: 9%;
    margin-bottom: 9%;
    padding: 1rem;
    align-items: center;
    text-align: start;
    border-color: black;
    border-width: 10%;
    border-style: solid;
    border-radius: 1rem;
    

}
.card-text-buenas{
    padding: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    
}

.card-servicios{
 background-color: black;
 padding: 5%;
 border-style: solid;
 border-color: white;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }

.card-tit-serv {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    

}

.card-trabajos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: xx-large;
text-align: center;
font-style: normal;
font-weight: bolder;

}
.card-text-trabajos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: xx-large;
font-style: italic;
}
.carrusel-trabajos{

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    border-color: white;
    border-width: 5%;
    border-style: solid;
    border-radius: 5%;
    margin: 2%;
    
    background-color: black;
}



.mapa{
display: flex;


}

.card-contacto{
    padding-left: 10rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;
   

}

.card-text-direccion{
    border: 1rem;
}