
  .nav-buenas{
      text-decoration: none;
      display: flex;
      padding-left: 3rem ;
      font-size: larger;
      color: rgb(255, 255, 255);
      transition: 500ms;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      font-size: 120%;
      margin-right: 2rem;
      
      &:hover{
        color: rgba(0, 225, 255, 0.486);
      } 
    
      
      
  }
  .navbar {
    flex-wrap: nowrap;
    background: rgb(0,115,127);
background: linear-gradient(121deg, rgba(0,115,127,1) 0%, rgba(0,61,76,1) 25%, rgba(0,0,18,1) 61%, rgba(0,92,81,1) 100%);
   
    
      
  }

.proyectos-div{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(0,115,127);
background: linear-gradient(121deg, rgba(0,115,127,1) 0%, rgba(0,61,76,1) 25%, rgba(0,0,18,1) 61%, rgba(0,92,81,1) 100%);
color: white;  

}

.h2proyectos{
  font-size: 6rem;
  padding: 10%;

}

.h4principal{
  
  padding: 1rem;
  font-size: 110%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  background-color:white;
  

  color: black;
font-weight: bold;
  
}

.h1logobuenas{
  background-color: black;
}



  